.bg {
    background-color: #004D40;
}

.textColor {
  color: #ffffff;
}

.button {
    background-color: #004D40;
    color: #ffffff;
    border-radius: 20px;
}

.button:hover {
  background-color: #026b5a;
  color: #ffffff;
}

.footer {
  text-align: center;
  font-style: italic;
  font-weight: bold;
}

.imageLogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

                  /* Modale */
.bloc-modale {
    /*position du bloc*/
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.overlay {
    /*arriere plan quand pop */
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modale-card {
    /*carte*/
    background: #f1f1f1;
    color: "#333333";
    width: 40%;
    padding: 10px 50px 10px 50px;
    position: fixed;
    border-radius: 20px 10px 20px 20px;
    box-shadow: 5px 5px 50px;
}

.btn-modale {
    /*bouton du popup*/
    position: absolute;
    top: 10px;
    right: 10px;
}
  /*police*/
.fontPolice {
  font-family: 'Open Sans', sans-serif;
}
