.bg {
    background-color: #004D40;
}

.textColor {
  color: #ffffff;
}

.button {
    background-color: #004D40;
    color: #ffffff;
    border-radius: 20px;
}

.button:hover {
  background-color: #026b5a;
  color: #ffffff;
}

.footer {
  text-align: center;
  font-style: italic;
  font-weight: bold;
}